*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@viewport{
    width: device-width;
    zoom: 1.1;
    min-zoom: 0.4;
    max-zoom: 2;
    user-zoom: fixed;
}
body{
    background-size:cover;
    background-position:top;
    font-family: sans-serif;
}
img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.menu-bar{
    background-color:#a64921;
    text-align:center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:antiquewhite;
}
.menu-bar ul li{
    width: 200px;
    margin: 15px;
    padding: 10px;
    border-style:inset;
    border-width: 3px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:antiquewhite;
}
.active, .menu-bar ul li:hover{
    background-color:#b87254;
    border-radius: 2px;
}
